body {
    margin:0;
    padding:0;
}

.logo {
    width:100px;
    padding: 14px;
    padding-right: 100px;
    padding-left: 100px;
}
.topnav {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    color:white;

}
.topnav li {
    float:left
}
.topnav li a {
    display: block;
    text-align: center;
    padding: 14px;

}
header {
    display:flex;
    padding-top:40px;
    margin:0;}